# Load data into a postgres database

In [1]:
from helper import *

In [2]:
procedure = Loader('qvenus_interview_procedure_orders.csv', ['order_time'])
patient = Loader('qventus_interview_patient_data_dataset.csv', ['admit_time', 'discharge_time'])

Setting tablename attribute
Setting tablename attribute

In [3]:
procedure.load_file()
patient.load_file()

Reading csv file from path
Casting fields to timestamp
Getting engine for writing into table
Getting connection string
Writing to table!
Reading csv file from path
Casting fields to timestamp
Getting engine for writing into table
Getting connection string
Writing to table!

In [4]:
%load_ext sql
connection_string = "postgresql://data:data@postgres:5432/data"
%sql $connection_string

# Part 1, resolve with sql queries

## 1) What were the top 5 most placed order class in the last month of the data set?

In [5]:
%%sql 
select order_class, count(*) as total_placed
from procedure_orders
where to_char(order_time,'YYYY-MM') = (select to_char(max(order_time), 'YYYY-MM') from procedure_orders)
and order_class != 'None'
group by order_class
order by total_placed desc
limit 5

 * postgresql://data:***@postgres:5432/data
5 rows affected.

[('LABORATORY', 360),
 ('VENTILATION', 26),
 ('PATIENT_MOVEMENT', 26),
 ('SPECIALTY', 16),
 ('CONSULT_EVAL', 14)]

### We query the procedure orders table by filtering the last month and excluding the order class value None. Then we group by order class, run a count and sort it.

## 2) On average, how many procedure orders were placed per patient within 24 hours of their admit time by month in the last year of the dataset?

In [6]:
%%sql
select
    month,
    round(avg(procedure_orders)) as average_per_patient
from 
    (select 
        extract(month from po.order_time) as month,
        pd.id as patient_id,
        count(po.procedure_id) as procedure_orders
    from procedure_orders po
    inner join patient_data pd on po.encounter_id = pd.encounter_id
    where DATE_PART('day', po.order_time - pd.admit_time) * 24 + DATE_PART('hour', po.order_time - pd.admit_time) <= 24
    and extract(year from po.order_time) = (select extract(year from order_time) as max_year from procedure_orders order by max_year desc limit 1)
    group by month, patient_id
    order by month, procedure_orders desc) data
group by month

 * postgresql://data:***@postgres:5432/data
3 rows affected.

[(Decimal('6'), Decimal('44')),
 (Decimal('7'), Decimal('37')),
 (Decimal('8'), Decimal('34'))]

### In above query we get first the count of the procedures id's joined with the patient_data dataset and filtered by the constraint of 24 hrs
### We also filter by the last year to meet the requirement
### After that we group by the required delta and get the average from the values by removing the patient granularity and grouping only by month

## 3) On average, how many orders were placed per patient within 24 hours of their admit, split by admit on a weekend vs. weekday by month

In [7]:
%%sql
select
to_char(date::date,'YYYY-MM') as month,
case when is_weekend then 'Weekend' else 'Week day' end as type_of_date,
round(avg(count_orders)) as average
from
(select 
    to_char(pd.admit_time,'YYYY-MM-DD') as date,
    EXTRACT(ISODOW FROM pd.admit_time) IN (6, 7) as is_weekend,
    count(po.id) as count_orders
from procedure_orders po
inner join patient_data pd on po.encounter_id = pd.encounter_id
where DATE_PART('day', po.order_time - pd.admit_time) * 24 + DATE_PART('hour', po.order_time - pd.admit_time) <= 24
group by 1, 2
order by 1) data
group by 1, 2
order by 1

 * postgresql://data:***@postgres:5432/data
6 rows affected.

[('2020-06', 'Week day', Decimal('81')),
 ('2020-06', 'Weekend', Decimal('57')),
 ('2020-07', 'Week day', Decimal('66')),
 ('2020-07', 'Weekend', Decimal('44')),
 ('2020-08', 'Week day', Decimal('67')),
 ('2020-08', 'Weekend', Decimal('30'))]

### In above query we prepare the raw dataset by filtering the two tables based on the requirement, then we calculate the amount of orders per date with the flag of it is a weekend or not
### After that, we move one level up to group by month and the weekend flag, removing the date granularity

## 4) How would you visualize the result in question 3? Who would you expect your audience to be? Why do you think it might be useful? You can either create a visualization or tell us how you want to visualize this data.

### I would plot the data as a line bar with the average as value split by type of date on the month axis.
### This way will be easier to quickly compare how the orders are placed week vs weekend and infer if this can be something to take into account for further decisions
### I would expect the audience to be hospital managers responsible to assign the availability of staff to execution patient's orders.

# Part 2, Python

### Create a function called search_procedure_orders that takes in a search pattern and the procedure_orders_data and returns relevant procedure orders as an array.

In [8]:
import pandas as pd
from sqlalchemy import create_engine, text
from helper import *
from pandasql import sqldf

In [9]:
procedure = Loader('qvenus_interview_procedure_orders.csv', ['order_time'])
patient = Loader('qventus_interview_patient_data_dataset.csv', ['admit_time', 'discharge_time'])
input1 = patient.get_df()
input2 = procedure.get_df()

Setting tablename attribute
Setting tablename attribute
Reading csv file from path
Casting fields to timestamp
Reading csv file from path
Casting fields to timestamp

In [10]:
def search_procedure_orders(pattern: str, df: pd.DataFrame) -> list:
    query = """select distinct procedure_name from df where procedure_name like '{}'""".format(pattern)
    res = sqldf(query, locals())
    # Pending to handle errors and empty results
    if len(res) > 0:
        data = res.to_numpy()[0]
        return list(data)
    else:
        return False

In [12]:
search_procedure_orders("hospitalist%", input2)

['hospitalist ip consult']

### Create a function called map_orders_to_patients that takes in patients data and procedure orders and returns number of orders per each patient

In [15]:
def map_orders_to_patients(patients: pd.DataFrame, orders: pd.DataFrame):
    query = """select pd.encounter_id, count(po.id) as num_orders
        from patients pd
        inner join orders po on pd.encounter_id = po.encounter_id
        group by 1
        order by 2 desc
        limit 5""" # Limit to 5 to avoid display all rows
    res = sqldf(query, locals())
    json = res.apply(lambda x: x.to_json(), axis=1)
    return list(json)

In [16]:
map_orders_to_patients(input1, input2)

['{"encounter_id":4153,"num_orders":851}',
 '{"encounter_id":8198,"num_orders":841}',
 '{"encounter_id":1787,"num_orders":522}',
 '{"encounter_id":3073,"num_orders":388}',
 '{"encounter_id":1335,"num_orders":324}']

### Create a function called patients_with_procedure that takes in patient_data, procedure_orders_data, and a search pattern and returns the number of matching orders per each patient, raising an error if there are no patients with such a procedure

In [19]:
def patients_with_procedure(patients: pd.DataFrame, orders: pd.DataFrame, pattern: str): 
    if (search_procedure_orders(pattern, orders) is False):
        raise Exception(f"Sorry, the pattern {pattern} has no results.")
    else:
        query = """select pd.encounter_id, count(po.id) as num_orders
            from patients pd
            inner join orders po on pd.encounter_id = po.encounter_id
            where po.procedure_name like '{}'
            group by 1
            order by 2 desc
            limit 10""".format(pattern)
        data = sqldf(query, locals())
        json = data.apply(lambda x: x.to_json(), axis=1)
        # Can improve this to merge with the function from the second point, depending on development and requirement conditions
        return list(json)

In [20]:
patients_with_procedure(input1, input2, 'hospitalist%')

['{"encounter_id":7042,"num_orders":4}',
 '{"encounter_id":1512,"num_orders":2}',
 '{"encounter_id":1112,"num_orders":2}']

### How would you make patients_with_procedure simpler?

### - Would start merging the function from second point with the third one, to accept the parameters to handle the execution
### - Would review if makes sense to materialize the table to avoid joins
### - Would create a method / function to transform rows into json based on dataframe